html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Oswald;
  background-color:pink;
}
.posts,.posts-2,.posts-3 {
  font-size: 20px;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background
}
.posts,.posts-2,.posts-3 {
  font-size: 6rem;
  color: white;
}
.post-1,.post-2,.post-3,.post-4,.post-5,.post-6, .post-7,.post-8,.post-9 {
  margin: 1rem;
  border: 9px solid black;
  width: 30%;
  background-color: black;
}
.header {
  text-align: center;
  font-size: 14rem;
  border: 9px solid black;
  margin-left: 35vw;
  margin-right: 35vw;
}

.row-1-img {
  height: 15vw;
  margin-bottom: 15px;
}
.sub-header {
  background-color: black;
}

