html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Oswald;
  background-color: pink;
}
.posts {
  font-size: 20px;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.posts {
  font-size: 6rem;
  color: white;
}
.post-1 {
  margin: 1rem;
  border: 9px solid black;
  width: 30%;
  background-color: black;
  box-shadow: 4px 4px 8px;
}
.header {
  text-align: center;
  font-size: 14rem;
  border: 9px solid black;
  margin-left: 35vw;
  margin-right: 35vw;
}

.row-1-img {
  height: 15vw;
  margin-bottom: 15px;
}
.sub-header {
  background-color: black;
}
.post-1:hover {
  transform: scale(1.15);
}
.header:hover {
  transform: scale(1.05);
}
.header {
  transition: all 0.2s ease-in;
}
.row-1-img:hover {
  transform: scale(1/1);
  outline: 0.5rem solid lightyellow;
}
